@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/pt-sans-italic.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/pt-sans-bolditalic.woff2") format("woff2");
    font-display: swap;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
html {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: #fbf7f4;
}
/* Pages */
.page-header {
    color: #000000;
    background-color: #ffffff;
}
.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}
.navigation-logo {
    display: block;
    width: 139px;
    height: 70px;
}
.logo-city {
    width: 139px;
    margin: 0 30px 0 0;
}
.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    max-width: 450px;
    list-style-type: none;  
}
.navigation-user {
    display: flex;
    max-width: 380px;
    height: 70px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    align-items: center;
}
.navigation-user .navigation-link {
    min-width: 16px;
    min-height: 22px;
    border: #000000 2px solid;
}
.navigation-link {
    display: block;
    padding: 20px 17px;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}
.navigation-link-want {
    display: block;
    width: 160px;
    height: 37px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase; 
}
.main-container {
    flex-grow: 1;
    color: #000000;
    background-color: #ffffff;
}
.introduce {
    width: 1200px;
    margin: 0 auto;
}
.introduce-image {
    background-image: url(../images/index-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 51px 371px 82px 371px;
}
.logo-page {
    display: block;
    margin: 0 auto;
}
.introduce-tagline {
    width: 720px;
    margin: 0 auto;
    padding: 63px 0px 31px 0px ;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    }
.advantages {
    width: 1200px;
    margin: 0 auto;
}
.advantages-main-title {
    width: 720px;
    margin: 0 auto;
    padding: 0px 0px 80px 0px;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
    }
.adventages-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.advantage-real-city-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #83B3D3;
}
.advantage-devilsbridge-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #83B3D3;
}
.advantages-title-realcity-devilsbridge {
    width: 400px;
    margin: 0 auto;
    padding: 97px 0px 30px 0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}   
.adventages-discription-number-realcity-devilsbridge {
    width: 250px;
    margin: 0 auto;
    padding: 0px 0px 30px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.adventages-discription-realcity-devilsbridge {
    width: 220px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
}
.real-city-photo {
    vertical-align: middle;
}
.real-city-adventure-list {
    width: 1200px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.real-rock-photo {
    vertical-align: middle;
}
.advantages-item-area-road-tourist {
    display: flex;
    justify-content: space-between;
}
.real-city-adventure-item-housingsouvenirs {
    width: 400px;
    background-color: #83B3D31F;
}
.real-city-adventure-item-food {
    width: 400px;
}
.real-city-adventure-item-title {
    width: 250px;
    margin: 0 auto;
    padding: 184px 0px 20px 0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.real-city-adventure-discription {
    width: 250px;
    margin: 0 auto;
    padding: 0px 0px 79px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.advantages-item-area-tourist {
    width: 400px;
    background-color: #83B3D31F;
}
.advantages-item-road {
    width: 400px;
    background-color: #83B3D333;
}
.advantages-title {
    width: 400px;
    margin: 0 auto;
    padding: 98px 0px 29px 0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.advantages-discription-number {
    width: 250px;
    margin: 0 auto;
    padding: 0px 0px 30px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.advantages-discription {
    width: 250px;
    margin: 0 auto;
    padding: 0px 0px 108px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.find-hotel-wrapper {
    width: 1200px;
    margin: 0 auto;
}
.interest {
    width: 720px;
    margin: 0 auto;
    padding: 91px 0 29px 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.interest-discription {
    width: 720px;
    margin: 0 auto;
    padding: 0 0 56px 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
.button-search-inscription {
    display: block;
    margin: 0 auto 93px auto;
    width: 575px;
}
.button-search {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    background-color: #756257;
    color: #ffffff;
    text-decoration: none;
}
.newsletter {
    width: 1200px;
    margin: 0 auto;
    background-image: url(../images/index-background-down.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color:#ffffff;
    background-color:cornflowerblue;
    text-align: center;
}
.newsletter-wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 94px 200px 93px 200px;
}
.page-newsletter-title {
    width: 720px;
    margin: 0 auto;
    padding: 0px 40px 40px 29px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.newsletter-discription {
    width: 720px;
    margin: 0 auto;
    padding: 0px 40px 46px 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
.newsletter-form-wrapper {
    width: 800px;
    margin: 0 auto;
    display: flex;
}
.field-newsletter{
    display: block;
    width: 600px;
    height: 60px;
    border: 0;
    padding: 0;
    padding-left: 22px;
    appearance: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.newsletter-button {
    display: block;
    width: 200px;
    height: 60px;
    background-color:#83B3D3;
    border: 0;
}
.button-newsletter {
    width: 200px;
    height: 60px;
    background-color: #83B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
}
.page-footer {
    display: flex;
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}
.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 150px;
    align-items: center;
    margin: 0 61px 0 72px;
    padding: 0;
    width: 107px;
    list-style-type: none;  
}
.footer-social-item-twitter {
    width: 18px;
    height: 15px;
    border: #000000 2px solid;
}
.footer-social-item-facebook {
    width: 10px;
    height: 18px;
    margin-left: 29px;
    margin-right: 30px;
    border: #000000 2px solid;
}
.footer-social-item-youtube {
    width: 20px;
    height: 16px;
    border: #000000 2px solid;
}
.contacts-phone {
    display: block;
    margin: 40px auto 30px auto;
    width: 720px;
    text-align: center;
}
.contacts-phone-link {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}
.about-img {
    width: 115px;
    margin: 42px 72px 44px 53px;
}
.inner-header {
    width: 1200px;
    height: 408px;
    margin: 0 auto;
    background-image: url(../images/catalog-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color:#ffffff;
    background-color:cornflowerblue;
}
.inner-header-title {
    width: 528px;
    margin: 0;
    padding: 35px 0 5px 71px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}
.breadcrumbs{
    display: flex;
    width: 200px;
    margin: 0;
    padding: 0;
    margin-left: 73px;
    margin-top: 5px;
    margin-bottom: 45px;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.breadcrumbs-link {
    display: block;
    padding-right: 26px;
}
.catalog-filter-form {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
.catalog-filter-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.catalog-filter-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.range-cost {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.buttons-wrapper {
    display: flex;
    flex-direction: column;
}
.button-apply {
    display: block;
    width: 160px;
    height: 48px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83B3D3;
}
.button-reset {
    display: block;
    width: 160px;
    height: 48px;
    border: 0;
    text-align: center;
    border: 0;
}
.search-list {
    width: 1200px;
    margin: 0 auto;
}
.search-list-options-wrapper {
    display: flex;
    width: 1056px;
    margin: 0 auto;
}
.search-list-title {
    display: flex;
    width: 360px;
    height: 39px;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}
.select-control {
    display: block;
    width: 287px;
    height: 48px;
    align-self: center;
    margin-left: 192px;
    margin-right: 81px;
    padding-left: 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}
.button-light-wrapper {
    display: flex;
    width: 160px;
    align-items: center;
}
.button-light {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    border: #000000 2px solid;
}
.hotel-card-list-wrapper {
    display: block;
    margin: 0 72px 64px 72px;
}
.hotel-card-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    list-style: none;
}
.hotel-card {
    display: block;
    width: 340px;
}
.hotel-card-image {
    display: block;
    margin: 20px 20px 16px 20px;
}
.hotel-card-title {
    margin: 0;
    padding: 0 0 16px 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}
.class-price-wrapper {
    display: flex;
}
.hotel-card-class {
    display: block;
    width: 133px;
    padding: 0 25px 16px 20px;
}
.hotel-card-price {
    display: block;
    width: 143px;
    padding: 0 19px 16px 0;
}
.more-favorites-wrapper {
    display: flex;
}
.hotel-card-button-more {
    display: block;
    width: 133px;
    margin: 0 26px 26px 20px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756257;
    text-decoration: none;
}
.hotel-card-button-favorites {
    display: block;
    width: 141px;
    margin: 0 20px 25px 0;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83B3D3;
}
.rating-wrapper {
    display: flex;
}
.stars-wrapper {
    display: block;
    padding: 0 0 30px 20px;
}
.hotel-card-rating {
    display: block;
    width: 160px;
    margin-left: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.button-pagination-show-more {
    display: block;
    width: 620px;
    height: 60px;
    margin: 64px auto 60px auto;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83B3D3;
}
.pagination-wrapper {
    display: flex;
    width: 1055px;
    margin: 0 auto 73px auto;
}
.pagination {
    display: flex;
    width: 370px;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 369 px;
    margin: 0 302px 0 72 px;
}
.pagination-item-current {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}
.pagination-item {
    display: block;
    width: 55px;
    height: 55px;
    background-color: #83B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}
.pagination-link-pagination-current {
    color: #000000;
    text-decoration: none;
}
.pagination-link {
    color: #ffffff;
    text-decoration: none;
}
.number-of-hotel {
    display: block;
    width: 175px;
    margin: auto 51px auto 301px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.number-select-control {
    display: block;
    width: 160px;
    height: 48px;
    margin: auto 0 auto 0;
    padding: 17px;
}
.newsletter-catalog {
    color:#000000;
    text-align: center;
}
.newsletter-wrapper-catalog {
    width: 800px;
    margin: 73px auto 140px auto; 
}